header{
    background-color: white;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    
}
.header-div{
    width: 50%;
    height: auto;
    background-color: skyblue;
    border-radius: 15px;
    text-align: center;
    
}
h1{
    font-size: 50px;
}

nav {
    width: 100%;
    height: max-content;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    gap: 30px;

    justify-content: center;
    width: 48%;
    height: max-content;

    background-color: rgba(217, 240, 240, 0.699);

    border-radius: 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}